html, body{

    font-family: 'Cormorant Garamond';
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-size: 13px;
    overflow-x: hidden;
    font-weight: 300;
    line-height: 15px;
    /* zoom: 100%; */
}
nav {
    font-size: 12px;
  }
 
  .nav-item .active{
    color: #E4B44E !important;

  }
  .dropdown a{
    color: #fff;

  }
.dropdown-menu
{
    background-color: transparent;
}

.dropdown-menu li a:hover
{
    background-color: #E4B44E;
    color: #000002;
}
#navbarNavDropdown{
    padding-left: 300px;
}
.body-dark{
    background-color:#000000;
    height: max-content;
    padding-bottom: 20px;
}
.yellow-color{
    color: #E4B44E;
}
.contact-btn{
    background-color: #fff;
    color: #000002 !important;
    padding: 10px 20px;
}
.contact-btn:hover{
    background-color: #E4B44E;
    color: #000002;
    padding: 10px 20px;
}

/* footer */
footer .first{
    padding-left: 45px;
}
footer ul{
    padding: 5rem 5rem;
}
footer ul li{
    list-style-type: none;
    padding: 10px;
}
footer ul a{
    color: #fff;
    text-decoration: none;
}
footer ul a:hover{
    color: #E4B44E;
    text-decoration: none;
}
.border-danger{
    color: #E4B44E;
}
.active{
    color: #E4B44E;
}
.active:hover{
    color: #fff;
}

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
   transform: translateY(70px);
 }
 .parent{
  background-image: linear-gradient(rgba(0,0,0,0.66), rgba(0,0,0,0.88)), url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    position: relative;
    /* padding-top */
  
}
footer .row{
    padding: 15px 10px;
}

.banner-style{
    background-image: linear-gradient(rgba(0,0,0,0.66), rgba(0,0,0,0.88)), url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
    width: 100%;
    height: max-content;
   
}
.banner-style2{
  background-image: linear-gradient(rgba(0,0,0,0.66), rgba(0,0,0,0.88)), url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
  width: 100%;
  min-height: max-content;
 /* position: relative; */
 
}
.section1 .aaa{
 padding: 50px 0px;
}

.section1 .ddd{
  background: url("../images/banner-image.png") no-repeat;
  
  background-size: contain;
  background-position: bottom right;
}


  .appointment{
    text-decoration:none;
    padding: 10px 15px;
    background-color:#E4B44E;
    color:#000;
    border: none;
  }
  .appointment2{
    text-decoration:none;
    padding: 10px 15px;
    background-color:#E4B44E;
    color:#000;
    border: none;
  }

  #action-buttons .appointment:hover{
   
    background-color:transparent;
    border: 1.5px solid #E4B44E;
    color: #fff;
  }
  #action-buttons .callus{
    text-decoration:none;
    padding: 10px 30px;
    background-color:transparent;
    border: 1.5px solid #E4B44E;
    color:#fff;
  }
  #action-button-2{
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 20px;
 padding: 50px;

  }

  #action-buttons-2 .callus{
    text-decoration:none;
    padding: 10px 30px;
    background-color:#fff;
    border: 1.5px solid #E4B44E;
    /* color:#0000 !important; */
  }

  #action-buttons .callus:hover{
    text-decoration:none;
    
    background-color:#E4B44E;
    border: 1.5px solid #000;
    color: #000;
  }
  .rounded--x{
   padding: 10px;
   width: 30px;
   border-radius: 50%;
   border: 2px solid #E4B44E;
   display: flex;
   justify-content: center;
   height: 30px;
  }
  .rounded--x span{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px
}
.ml-2{
    padding-left: 10px;
}

  #tab-section-first:hover{
    cursor: pointer;
  }
  #tab-section-second:hover{
    cursor: pointer;
  }
  #second-tab-items{
    display: none;
  }
  .item-styles{
    background-color:#252E3A;
    position: relative;
    flex: 0 0 calc(33.33% - 30px);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    height: 13rem;
    flex-grow: 0;
    width: 80%;
    display: flex;
    padding: 10px 24px 32px 24px;
    align-items: center;
    border-radius: 10px;
    /* align-self: stretch; */
  }
  .item-styles img{
   transform: translateY(-45px);
   
  }
  h5{
    margin-bottom: 15px;
  }
  .item-style-div{
    
    transform: translateY(-35px);
   }
  /* .item-styles::before{
    content: "";
    background-image: url('../images/icons/justice-icon.svg');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 42%;
    margin-top: -30px;
  } */
  #counts div{
    flex-grow: 1;
  }
  .fr-image{
    height: 60px;
    width: 60px;
  }
  #bottom-section {
    background-image: linear-gradient(rgba(0,0,0,0.66), rgba(0,0,0,0.88)), url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:auto;
    width: 100%;
    height: 100%;
    padding: 8rem 0rem;
    margin-bottom: 3rem;
  }
  .form-control{
    margin-top: 10px;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    background: transparent !important;
  }
  .form-control:focus{
    color: #fff;
    font-size: 14px;
    border: none !important;
    border-bottom: 1px solid #fff !important;
  }
  #banner-inner{
    padding: 3rem;
    width: 70%;
    margin: auto;
  }
  #testimonial{
    background-color: #FFFBF2;
    padding: 3rem 0rem;
  }
  .slick-track{
    opacity: 1;
    width: 720px;
    transform: translate3d(0px, 0px, 0px);
  }
  .slick-slide30{
    /* padding: 20px 20px; */
    width: 225px;
  }
 
  .slider {
    
    width: 100%;
    margin: 50px auto;
}

.slick-slide {
  margin-left: 10px;
}


.slick-prev:before,
.slick-next:before {
  color: black;
}
.our-team{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
  margin: 10px;
  justify-content: center;
}
.our-team .card{
  height: max-content;
}
.our-team .card:nth-child(3n) {
  justify-content: center;
}
.our-team a{
  color: #E4B44E;
}
 /* Media query for mobile devices */

/* Styles for screens smaller than 768px (e.g., smartphones) */
@media screen and (max-width: 767px) {
    .parent{
        margin-top: -3rem;
    }
    .content {
        position: relative;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      
    }
    .appointment {
        text-decoration: none;
        padding: 10px 11px;
        background-color: #E4B44E;
        color: #000;
        margin-top: 20px;
      }

      
      .section1 .ddd{
        display: none;
      }
      .banner-style{
     
        min-height: 0vh;
       /* position: relative; */
       
    }
      #bottom-section {
        padding-top: 0rem;
      }
      #banner-inner{
        padding: 7rem 2rem;
        width: 100%;
        margin: auto;
      }
      #navbarNavDropdown{
        padding-left: 0px;
    }
    br{
      display: none;
    }
    .p-4{
      padding: 0px 10px !important;
    }
    .section1 .aaa {
      padding: 20px 36px;
    }
    .col-md-8 .mt-5{
      margin-top: 10px !important;
    }
    /* .p-5{
      padding: 20px !important;
    } */
    .mt-5{
      margin-top: 20px !important;
    }
    .content {
     display: none;
   }
   .parent{
    display: none;
    
  }
}


 /* Styles for screens larger than 992px (e.g., desktops) */
/* @media screen and (min-width: 992px) {
    .parent{
        margin-top: -3rem;
    }
    .content {
        position: relative;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      
    }
} */
